<%= turbo_frame_tag @note do %>
  <%= form_with(model: @note, url: @note.new_record? ? notes_path : notes_update_path(@note), data: { turbo_frame: @note.new_record? ? 'new_note' : dom_id(@note) }) do |form| %>
    <% if @note.errors.any? %>
      <div style="color: red">
        <h2>
          <%= pluralize(@note.errors.count, "error" ) %> prohibited this note from being saved:
        </h2>
        <ul>
          <% @note.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :body, style: "display: block" %>
        <%= form.text_field :body %>
    </div>
    <div>
      <%= form.submit class: "button is-primary"%>
    </div>
    <div>
      <%= link_to 'Back' , notes_path, data: {turbo_action: 'replace' , turbo_frame: 'main_page' }, class:"button is-light"
        %>
    </div>
  <% end %>
<% end %>