<!DOCTYPE html>
<html>
  <head>
    <title>Kquizz Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <section class="section" style="padding:20px;">
  <div class="container">
    <h1 class="title is-4 has-text-centered is-marginless">Kquizz's Portfolio</h1>
  </div>
</section>
  <%= render 'layouts/navbar' %>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>
  </body>
</html>
